<div class="achievements">
  <h3>ACHIEVEMENTS</h3>

  <ul>
    <li>
      <%= image_tag("icons/dota_2_green.png") %>
      <div class="popover">
        <h4>Frankfurt Major (2015)</h4>
        <h5>1st</h5>
      </div>
    </li>

    <li>
      <%= image_tag("icons/manila_major.png") %>
      <div class="popover">
        <h4>Manila Major (2016)</h4>
        <h5>1st</h5>
      </div>
    </li>

    <li>
      <%= image_tag("icons/dota_2_green.png") %>
      <div class="popover">
        <h4>Boston Major (2016)</h4>
        <h5>1st</h5>
      </div>
    </li>

    <li>
      <%= image_tag("icons/dota_2_blue.png") %>
      <div class="popover">
        <h4>Kiev Major (2017)</h4>
        <h5>1st</h5>
      </div>
    </li>

    <li>
      <%= image_tag("icons/The_International.png") %>
      <div class="popover">
        <h4>The International (2018)</h4>
        <h5>1st</h5>
      </div>
    </li>
    
    <li>
      <%= image_tag("icons/The_International.png") %>
      <div class="popover">
        <h4>The International (2019)</h4>
        <h5>1st</h5>
      </div>
    </li>
  </ul>
</div>