<ul class="players">
  <% @players.each do |player| %>
    <li class="player <%= player.ign.downcase %>">
      <%= link_to player_path(id: player.ign) do %>
        <div class="gradients"></div>
        <h5 class="role"><%= player.role %></h5>
        <img src="<%= asset_path player.image_one %>" class="img_1">
        <img src="<%= asset_path player.image_two %>" class="img_2">
        <div class="names">
          <h3><%= player.ign %></h3>
          <h4><%= player.first_name %> <%= player.last_name %></h4>
        </div>
        
        <%= render partial: "shared/home/players/social_media" %>
      <% end %>
    </li>
  <% end %>
</ul>