<!DOCTYPE html>
<html>
  <head>
    <title>OG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/"><%= image_tag("logo/og-logo.png", class: "logo") %></a>        
        <%= render partial: "shared/header/nav_bar" %>
        <%= render partial: "shared/header/menu_toggle" %>
      </nav>
      
      <%= render partial: "shared/header/drop_down_menu" %>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
      <%= render partial: "shared/footer/text" %>
      <%= render partial: "shared/footer/recent_posts" %>
      <%= render partial: "shared/footer/pages" %>
      <%= render partial: "shared/footer/social" %>
      </div>
    </footer>

    <%= render partial: "shared/footer/footboard" %>
  </body>
</html>